body {
    background-color: #eef9bf;
    font-family: Roboto;
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.timer{
    width: 100px;
    height: 70px;
    position:relative;
    top:0;
    right: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    background-color: brown;
    color:white;
    font-family: Roboto;
    font-weight: 700;
    font-size: 40px;
    border-bottom-left-radius: 10px;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
    margin: 17px 0;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.card img {
    width: 100px;
    height: 100px;
}

.back-face {
    transform: rotateY(180deg);
}

.back-face.selected {
    transform: rotateY(0deg);
}

.front-face.selected {
    transform: rotateY(-180deg);
}

.back-face.completo {
    transform: rotateY(0deg);
}

.front-face.completo {
    transform: rotateY(-180deg);
}


@media only screen and (max-width:335px) {
    .timer{
        width:70px;
        height: 55px;
        font-size: 30px;
    }

    .conteudo {
        display: flex;
        flex-direction: column;
    }
}